interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.ror.org/organizations?query=University+of+Greenwich
  response:
    body:
      string: "{\"number_of_results\":23746,\"time_taken\":20,\"items\":[{\"id\":\"\
        https://ror.org/00bmj0a71\",\"name\":\"University of Greenwich\",\"email_address\"\
        :null,\"ip_addresses\":[],\"established\":1890,\"types\":[\"Education\"],\"\
        relationships\":[{\"label\":\"Natural Resources Institute\",\"type\":\"Related\"\
        ,\"id\":\"https://ror.org/05t3n1398\"}],\"addresses\":[{\"lat\":51.485111,\"\
        lng\":-0.003905,\"state\":null,\"state_code\":null,\"city\":\"London\",\"\
        geonames_city\":{\"id\":2643743,\"city\":\"London\",\"geonames_admin1\":{\"\
        name\":\"England\",\"id\":6269131,\"ascii_name\":\"England\",\"code\":\"GB.ENG\"\
        },\"geonames_admin2\":{\"name\":\"Greater London\",\"id\":2648110,\"ascii_name\"\
        :\"Greater London\",\"code\":\"GB.ENG.GLA\"},\"license\":{\"attribution\"\
        :\"Data from geonames.org under a CC-BY 3.0 license\",\"license\":\"http://creativecommons.org/licenses/by/3.0/\"\
        },\"nuts_level1\":{\"name\":\"LONDON\",\"code\":\"UKI\"},\"nuts_level2\":{\"\
        name\":\"Inner London - West\",\"code\":\"UKI3\"},\"nuts_level3\":{\"name\"\
        :\"Westminster\",\"code\":\"UKI32\"}},\"postcode\":null,\"primary\":false,\"\
        line\":null,\"country_geonames_id\":2635167}],\"links\":[\"http://www2.gre.ac.uk/\"\
        ],\"aliases\":[],\"acronyms\":[],\"status\":\"active\",\"wikipedia_url\":\"\
        http://en.wikipedia.org/wiki/University_of_Greenwich\",\"labels\":[],\"country\"\
        :{\"country_name\":\"United Kingdom\",\"country_code\":\"GB\"},\"external_ids\"\
        :{\"ISNI\":{\"preferred\":null,\"all\":[\"0000 0001 0806 5472\"]},\"FundRef\"\
        :{\"preferred\":null,\"all\":[\"100010027\"]},\"HESA\":{\"preferred\":null,\"\
        all\":[\"0059\"]},\"UKPRN\":{\"preferred\":null,\"all\":[\"10007146\"]},\"\
        OrgRef\":{\"preferred\":\"533524\",\"all\":[\"533524\",\"24063894\"]},\"Wikidata\"\
        :{\"preferred\":null,\"all\":[\"Q1896148\"]},\"GRID\":{\"preferred\":\"grid.36316.31\"\
        ,\"all\":\"grid.36316.31\"}}},{\"id\":\"https://ror.org/03fbdat12\",\"name\"\
        :\"Greenwich University\",\"email_address\":null,\"ip_addresses\":[],\"established\"\
        :1987,\"types\":[\"Education\"],\"relationships\":[],\"addresses\":[{\"lat\"\
        :24.787746,\"lng\":67.049488,\"state\":null,\"state_code\":null,\"city\":\"\
        Karachi\",\"geonames_city\":{\"id\":1174872,\"city\":\"Karachi\",\"geonames_admin1\"\
        :{\"name\":\"Sindh\",\"id\":1164807,\"ascii_name\":\"Sindh\",\"code\":\"PK.05\"\
        },\"geonames_admin2\":{\"name\":\"Kar\u0101chi District\",\"id\":1174870,\"\
        ascii_name\":\"Karachi District\",\"code\":\"PK.05.1174870\"},\"license\"\
        :{\"attribution\":\"Data from geonames.org under a CC-BY 3.0 license\",\"\
        license\":\"http://creativecommons.org/licenses/by/3.0/\"},\"nuts_level1\"\
        :{\"name\":null,\"code\":null},\"nuts_level2\":{\"name\":null,\"code\":null},\"\
        nuts_level3\":{\"name\":null,\"code\":null}},\"postcode\":null,\"primary\"\
        :false,\"line\":null,\"country_geonames_id\":1168579}],\"links\":[\"http://www.greenwichuniversity.edu.pk/\"\
        ],\"aliases\":[],\"acronyms\":[\"GU\"],\"status\":\"active\",\"wikipedia_url\"\
        :\"https://en.wikipedia.org/wiki/Greenwich_University,_Karachi\",\"labels\"\
        :[],\"country\":{\"country_name\":\"Pakistan\",\"country_code\":\"PK\"},\"\
        external_ids\":{\"ISNI\":{\"preferred\":null,\"all\":[\"0000 0004 0608 2692\"\
        ]},\"OrgRef\":{\"preferred\":null,\"all\":[\"36176193\"]},\"Wikidata\":{\"\
        preferred\":null,\"all\":[\"Q5604896\"]},\"GRID\":{\"preferred\":\"grid.444837.8\"\
        ,\"all\":\"grid.444837.8\"}}},{\"id\":\"https://ror.org/036qtaj98\",\"name\"\
        :\"Greenwich Hospital\",\"email_address\":null,\"ip_addresses\":[],\"established\"\
        :1903,\"types\":[\"Healthcare\"],\"relationships\":[{\"label\":\"Columbia\
        \ University\",\"type\":\"Related\",\"id\":\"https://ror.org/00hj8s172\"},{\"\
        label\":\"Fairfield University\",\"type\":\"Rel[...]
